.product-container{
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-right: 5vw;

}

.product-list{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 48vw;
 

}

.product-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  margin-left: 5vw;
  background-color:#f1f2f0 ;
  border: 1px white solid;
  cursor: pointer;
}
p{
  color:#459e6a ;
}

.item{
  margin-left: 1vw;
}
.label-btn{
  margin-right: 1vw;
}
